<%- include('partials/header') %>
  <div class="content">
    <h2>Login</h2>
    <form action="" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email" id="">

      <label for="password">Password:</label>
      <input type="password" name="password" id="">

      <button>login</button>
      <p>Don't have an account? Signup <a href="/signup">here</a></p>
    </form>
  </div>
<%- include('partials/footer') %> 